<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Text" data-title="Latest Twit" data-text="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
      <div data-id="buzzwords" data-view="List" data-unordered="true" data-title="Stock Price" data-moreinfo=""></div>
    </li>
    
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="gold_news" data-view="Text" data-title="Gold News" data-text="" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="convergence" data-view="Graph" data-title="News Ingested Today" data-text="" data-moreinfo=""></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="calendar" data-view="Calendar" data-title="Economy Calendar" data-text="" data-moreinfo=""></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="" data-prefix=""></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="synergy" data-view="Meter" data-title="Confidence" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px"></div></center>
</div>
